# Database
QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://localhost:5432/pubatlas
QUARKUS_DATASOURCE_USERNAME=pubatlas
QUARKUS_DATASOURCE_PASSWORD=change-me

# Flyway Migrations
QUARKUS_FLYWAY_MIGRATE_AT_START=true

# (Very) Basic Auth Implementation
APP_API_KEY=some-long-secret